{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="col">

  <div class="container  bg-form my-2 my-md-5 p-0">
    <div class="row no-gutters justify-content-center relative ">
      
      <div class="col-11 col-md-8 col-lg-6 offset-1 offset-md-0 bg-gray px-4 py-4 p-md-5 content my-form">
        <h1>{% trans "Sign Up" %}</h1>
        <form class="register" method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
          <p class="pt-3">Have an account? <a class="bt btn-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}