{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

<!--User feed-->

<!-- Regular shops -->
<div class="bg-white py-2 mt-5">
    <div class="container">
        <div class=" d-flex flex-column align-items-center">
            <p class="display-4 text-bold  text-upercase carousel-header"> Businesses you
                follow</p>

        </div>
        {% if request.user.shops_followed %}
        <div class="owl-carousel owl-carousel-large-1  owl-theme  position-relative">
            {% for shop in request.user.shops_followed.all %}
            <div class="item pt-2 pb-3 px-1 h-100">
                {% include 'shop/_partials/_shop_card.html' %}
            </div>
            {% endfor %}
        </div>
        <div class="row text-center justify-content-center">

            <a class="btn custom-round-btn-large btn-sm text-white btn-rounded  waves-effect waves-light "
                {% if shop.count == 0 %} {% endif %} href="{% url 'shop:all_shops' %}" disabled> Load more</a>
        </div>
        {% else %}

        <div class="text-center">
            <p>It seem lonely here! <br>
                Try following some businesses for updates :) </p>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <p class="display-4 text-bold  text-upercase carousel-header"> Products by Businesses you Follow </p>
        </div>
            {% if request.user.shops_followed %}
            {% for shop in request.user.shops_followed.all %}
            {% for product in shop.products.all %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3  pb-3">
                {% include "shop/_partials/_product_card.html" %}
            </div>
            {% empty %}
            {% endfor %}
            {% empty %}
            {% endfor %}
            {% endif %}
    </div>
</div>



{% endblock %}