{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{ business.title }}{% endblock title %}
{% block description %}{{ business.description | truncatewords:60 }}{% endblock %}

{% block content %}
<div class="container-flui  mt-3">
    <div class=""
        style="background: url('{{ business.banner.url }}'); background-size: cover; background-position: center;">
        <div class=" px-4 py-5" style="background: rgba(0,0,0,0.4);">

            <div class="row">
                <div class="col-12 pt-5">
                    <div class="section-heading text-center mx-auto wow fadeInUp" style="margin-bottom: 2em
            !important;" data-wow-delay="300ms">
                        <h2 class="m-0 display-4 font-weight-bold text-white">{{ business.title }}</h2>
                        {% with business.products.count as count %}
                        <p class="m-0 lead text-white">{{count}} product{% if count != 1 %}s{% endif %}</p>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container py-5 d-flex justify-content-center">
        <div class="col-12 text-center" style="max-width: 600px;">
            <p>Phone: <a class="text-warning" href="tel:{{ business.phone_number }}">{{ business.phone_number }}</a></p>
            <div class="">{{ business.description }}</div>
        </div>
    </div>
</div>

<div class="container py-5 mt-4">
    <div class="row">
        <div class="col-12">
            <div class="section-heading text-center mx-auto wow fadeInUp" style="margin-bottom: 10px !important;"
                data-wow-delay="300ms">
                <span>Our</span>
                <h3>Products</h3>
            </div>
        </div>
        {% for product in business.products.all %}
        <div class="col-12 col-sm-6 py-3 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
            <div class="bg-light w-100" style="max-width: 300px;">
                <div class="card-image">
                    <a href="#" class="course-panel-show-toggle" data-target="course-panel-{{ product.id }}">
                        <img src="{{ product.picture.url }}" alt="" class="img-responsive img-fluid"
                            style="object-fit:cover; width: 100%; height: 160px;">
                    </a>
                </div>
                <div class="card-body d-flex flex-column justify-content-center align-itms-center">
                    <a href="#" class="course-panel-show-toggle" data-target="course-panel-{{ madarasah.id }}">
                        <h5 class="m-0 text-uppercase">{{ product.title }}</h5>
                        <p class="m-0">GH {{ product.price }}</p>
                    </a>
                    <a class="btn btn-warning" href="tel:{{ business.phone_number }}">place order.</a>
                </div>
            </div>
            <!-- Book list section -->
            <div class="subject-panel p-4 d-none position-fixed" id="course-panel-{{ product.id }}"
                style="top: 0; bottom: 0; left: 0; right: 0; height: 100vh; overflow: auto; width: 100%; z-index: 999999; background: white;">
                <div class="d-flex justify-content-end">

                    <button class="close-toggle btn btn-md btn-danger"
                        data-target="course-panel-{{ product.id }}">&times;
                    </button>
                </div>
                <div class="subject-panel-content  container pt-2">
                    <img src="{{ product.picture.url }}" alt=""
                        style="object-fit:cover; width: 100%; max-height: 40vh;">

                    <h3 class="text-center py-4">{{ product.title }}</h3>
                    <div class="bg-light px-4 py-2">
                        <p class="m-0">{{ product.description }}</p>
                    </div>

                    <div class="py-3 mt-2">
                        <div class="bg-light p-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-warning" href="tel:{{ business.phone_number }}">place order.</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end book list section-->
        </div>
        {% empty %}
        <div class="col-12 text-center text-danger p-3">
            Sorry there are no products here.
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}