{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{ event.name }}{% endblock title %}
{% block description %}Venue: {{ event.venue}}
{{ event.description | truncatewords:60 }}{% endblock %}

{% block content %}
<div class="container-flui  mt-3">
    <div class="" style="background: url('{{ event.picture.url }}'); background-size: cover; background-position: center;">
        <div class=" px-4 py-5" style="background: rgba(0,0,0,0.3);">

    <div class="row">
        <div class="col-12 pt-5">
            <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                <span class="text-white">Meet</span>
                <h3 class="text-white">{{ event.name }}</h3>
                <p class="text-white">{{ event.venue }}, {{ event.date }}</p>
                <p class="m-0 text-center text-warning" >
                    {% if event.completed %}Completed{% else %}Upcomming{% endif %}
                </p>
        </div>
    </div>
    </div>
</div>
    </div>
</div>
<div class="container-fluid bg-light">
<div class="container py-5">
    <div class="col-12">
        <div class="">{{ event.description | safe }}</div>
    </div>
</div>
</div>

<div class="container py-5 mt-4">
    <div class="row">
        <div class="col-12">
            <div class="section-heading text-center mx-auto wow fadeInUp" style="margin-bottom: 10px !important;" data-wow-delay="300ms">
                <span>Event</span>
                <h3>Gallery</h3>
            </div>
        </div>
        {% for image in event.images.all %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class=" py-3">
                <img src="{{ image.image.url }}" alt="" style="object-fit:cover; height: 200px; width: 100%">
            </div>
        </div>
        {% endfor %}
        {% if request.user.is_superuser %}
        <div class="col-12 d-flex justify-content-center align-items-center ">
            <form class="p-5 image-form-section bg-light" style="max-width: 500px;" method="POST" action="{% url 'upload-event-images' event.pk %}" enctype="multipart/form-data">
                <h3>Add Images to upload</h3>
                {% csrf_token %}
                {% crispy image_form %}
                <button type="submit" class="btn btn-lg btn-success">Submit</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}