{% extends "_base.html" %}



{% block title %}Events{% endblock title %}
{% block description %}See Upcoming and completed event schedules.{% endblock %}


{% block content %}
<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-12">
            <div class="section-heading mb-0 text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                <span>Our</span>
                <h3>Events and Programmes</h3>
            </div>
        </div>
    </div>
</div>
<div class="container pb-5">
    <div class="row">
        {% for event in events %}
        {% include '_partials/_event_list_card.html' %}
        {% empty %}
        <div class="col-12 p-3 text-center text-danger">
            There are no upcomming events
        </div>
        {% endfor %}
    </div>
    
    <!-- Pagination -->
    {% include '_partials/_pagination.html' %}
    <!-- End pagination -->
</div>

{% endblock content %}