{% extends "_base.html" %}


{% block title %}{{ executive.name }} ({{ executive.executive_role }}) {% endblock title %}
{% block description %}{{ executive.about | truncatewords:60 }}{% endblock %}

{% block content %}
<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-12">
            <div class="section-heading mb-0 text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                <span>{{ executive.executive_role }}</span>
                <h3>{{ executive.name }}</h3>
                <ul class="list-unstyled pt-3 ">
                    <li class="m-0 p-0">
                        <span>From : {{ executive.date_started }}</span>
                    </li>
                    <li class="m-0 p-0">
                        <span>
                            To : {% if executive.is_active %}Date{% else %} {{ executive.date_ended }} {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container pb-5" style="max-width: 650px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ executive.picture.url }}" alt="" class="img-reponsive img-thumbnail">
        </div>
        <div class="col-md-12 py-5 ">


            <div class="py-5">
                {{ executive.about | safe}}
            </div>
        </div>
    </div>

</div>
</div>
<div class="container pb-5 mt-4">
    <div class="row">
        <div class="col-12">
            <div class="section-heading border-bottom pb-4 mb-0 text-center mx-auto wow fadeInUp"
                style="margin-bottom: 15px !important" data-wow-delay="300ms">
                <span>About The Office of </span>
                <h3>The {{ executive.executive_role }}</h3>
            </div>
        </div>
        <div class="col-12 py-4">
            <div class="container" style="max-width: 650px;">

                {{ executive.executive_role.duty }}
            </div>
        </div>
    </div>
</div>
{% endblock %}