{% extends '_base.html' %}


{% block title %}Our History{% endblock title %}
{% block description %}{{config.history | truncatewords:60 }}{% endblock %}


{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>History</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### history Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>Our (GMSA-UCC)</span>
                    <h3>History</h3>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 wow fadeInUp bg-light p-4" data-wow-delay="400ms" style="max-width: 650px;">
                <p class="m-0">{{ config.history }}</p>
            </div>
            
        </div>
    </div>
</section>
<!-- ##### history Area End ##### -->

{% endblock content %}