{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <br>
    <div class="col-12 px-1">

        <div class="row d-flex align-items-center py-5 justify-content-center h-min-100vhs">
            <div class="col-md-6  white-bg">

                <!-- Form -->
                <form class=" shadow p-5" method="POST" style="color: #757575;" action="#!">
                    <h2 class="text-center">Login</h2>
                    <br>

                    {% csrf_token %}
                    {{ form | crispy }}


                    <!-- Sign in button -->
                    <button type="button submit" class="btn peach-gradient btn-lg btn-block" value="Log In" class=""> <i
                            class="fas fa-lock mr-2" aria-hidden="true"></i>Log In</button>

                    <p class="mt-1">
                        Forgot Password? <span id="color"> <a href="">Reset</a></span>
                    </p>
                    <!-- Social login -->
                    <div class="text-center">
                        <p>Not a member?
                            <a href="{% url 'accounts:register' %}" id="color">Register</a>
                        </p>
                        <!--  <p>or sign in with:</p>

                    <div class="row justify-content-between">
                        <div class="col-6">
                            <a href=""><button type="button" class="btn btn-fb"><i class="fab fa-facebook-f left"></i>
                                    Facebook</button></a>

                        </div>
                        <div class="col-6">
                            <a href=""></a><button type="button" class="btn btn-gplus"><i
                                    class="fab fa-google-plus-g left"></i> Google</button></a>

                        </div>
                    </div> -->
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <!--Modal: Login / Register Form-->
    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i
                                    class="fas fa-user mr-1"></i>
                                Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i
                                    class="fas fa-user-plus mr-1"></i>
                                Register</a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 7-->
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body mb-1">
                                <div class="md-form form-sm">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="text" id="form22" class="form-control">
                                    <label for="form22">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="form23" class="form-control">
                                    <label for="form23">Your password</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-info">Log in <i class="fas fa-sign-in-alt ml-1"></i></button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1">
                                    <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                    <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                    data-dismiss="modal">Close</button>
                            </div>

                        </div>
                        <!--/.Panel 7-->

                        <!--Panel 8-->
                        <div class="tab-pane fade" id="panel8" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="text" id="form24" class="form-control">
                                    <label for="form24">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="form25" class="form-control">
                                    <label for="form25">Your password</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="form26" class="form-control">
                                    <label for="form26">Repeat password</label>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-info">Sign up <i
                                            class="fas fa-sign-in-alt ml-1"></i></button>
                                </div>

                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log
                                            In</a>
                                    </p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/.Panel 8-->
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login / Register Form-->
</div>
{% endblock %}