<div class="col-12 col-sm-6 py-3 col-md-4 d-flex justify-content-center align-items-center">
    <div data-aos="fade-up" class="bg-light w-100" style="max-width: 300px;">
        <div>
            <img class="img-fluid" style="height: 200px; width: 100%; object-fit: cover;" src="{{ article.image.url }}">

        </div>
        
        <div class="card-body d-flex flex-column justify-content-center align-itms-center">
            <div class="container">
                <a href="{{ article.get_absolute_url }}">

                    <h5 class="">{{ article.title }}</h5>
                    <p class="">{{ article.description|truncatechars:160 }}</p>
                </a>

                <small><a  class="text-warning" href="{{ article.get_absolute_url }}">Read more...</a></small>
            </div>
        </div>
    </div>
</div>