<!-- Single Testimonials Area -->
<div class="col-12 col-md-6">
    <div class="row single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
        <div class="testimonial-thum col-12 col-sm-6 col-md-5 col-lg-4" >
            <img style="object-fit:cover; max-height: 300px; width:100%;" src="{{ event.picture.url }}" alt="">
        </div>
        <div class="testimonial-content col-12 col-sm-6 col-md-7 col-lg-8">
            <a href="{{ event.get_absolute_url }}">
                <h5>{{ event.name }}</h5>
            </a>
            <p>{{ event.description | truncatechars:200}}</p>
            <h6><span>{{ event.venue }},</span> {{ event.date }}</h6>
        </div>
    </div>
</div>