<!-- Single Executive card -->
<div class="col-12 col-lg-6">
    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
        <div class="popular-course-content">
            <h5>{{ executive.name}}</h5>
            <span>Started :  {{ executive.date_started }}</span>
            <div class="course-ratings">
                {% if executive.is_active %}
                <span class="badge badge-md badge-warning py-3">Active</span>
                {% else %}
                <span class="badge badge-md badge-info py-3">Former</span>
                {% endif %}
            </div>
            <p>{{ executive.about | truncatechars:150 }}</p>
            <a href="{{ executive.get_absolute_url }}" class="btn academy-btn btn-sm">See More</a>
        </div>
        <div class="popular-course-thumb bg-img" style="background-image: url({{ executive.picture.url }});"></div>
    </div>
</div>