<!-- Single Executive card -->
<div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ executive.get_absolute_url }}">
        <div class=" text-center  shadow rounded-5 p-2">
            <img class="img-thumbnail rounded-circle" style="width: 150px; height: 150px;"
                src="{{ executive.picture.url }}">
            <div class="pt-2">

                <h5 class="m-0">{{ executive.name }}</h5>
                <p class="font-medium">{{ executive.executive_role }}</p>
            </div>

        </div>
    </a>
</div>
<!-- End Executive Card -->