:root {
    --main-color: #25155c;
    --second-color: #85227f;
    --main-accent-color: #fbb517;
    --main-accent-color-light: #ddb557;
    --main-gradient: linear-gradient(137deg, var(--second-color), var(--main-color));
    --second-gradient: linear-gradient(137deg, var(--main-color), var(--second-color));
}

body {
    font-family: montserrat, sans-serif;
    font-size: 18px;
}
@media only screen and (max-width: 768px){
    body {
        font-size: 16px;
    }
    .lead {
        font-size: 18px;
    }
}
.h-min-100vh {
    min-height: 100vh;
}

header {
    position: relative;
    height: auto;
}

.h-max-100 {
    max-height: 100%;
}

nav.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-light-1{
    color: #666;
}
.background-overlay {
    position: absolute;
    width: 100%;
    background: var(--main-color);
    height: 100%;
}

.background-overlay .circle {
    position: relative;
    border-radius: 50%;
    left: -150px;
    top: -180px;
    width: 300px;
    height: 300px;
    box-shadow: 2px 10px 15px rgba(0,0,0,.2);
    background: linear-gradient(120deg, var(--main-color), var(--second-color))
}
.background-overlay .curved-left {
    background: linear-gradient(137deg, var(--second-color), var(--main-color));
    
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 540px){

    .background-overlay .curved-left {
        clip-path: circle(80% at 80% 50%);
    }
}

.img-primary {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.img-secondary {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* COLORS */

.bg-main-color {
    background-color: var(--main-color);
}

.bg-second-color {
    background-color: var(--second-color);
}

.bg-main-gradient {
    background: var(--main-gradient);
}

.bg-second-gradient {
    background: var(--second-gradient);
}

/* TYPOGRAPHY */

.fancy-underline {
    position: relative;
    padding: 10px;
}

.fancy-underline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 70%;
    max-width: 150px;
    min-width: 100px;
    z-index: 1;
    min-width: 40px;
    background: var(--main-accent-color);
    clip-path: polygon(0 0 100% 80%);
}

.fancy-underline::after {
    content: '';
    width: 80%;
    position: absolute;
    z-index: -1;
    height: 100%;
    max-width: 200px;
    min-width: 150px;
    background: var(--main-accent-color-light);
}

.font-weight-bolder {
    font-weight: 900;
}
.font-xxlarge {
    font-size: 52px;
}
.font-xlarge {
    font-size: 42px;
}

.font-large {
    font-size: 22px;
}

.font-medium {
    font-size: 18px;
}

.font-small {
    font-size: 16px;
}
@media only screen and (max-width: 786px){
    .font-xxlarge{
        font-size: 42px;
    }
    .font-xlarge{
        font-size: 24px;
    }
    .font-large {
        font-size: 20px;
    }
    .font-medium {
        font-size: 16px;
    }
    .font-small {
        font-size: 14px;
    }
    .font-xsmall{
        font-size: 12px;
    }
}
/* Section Heading */

.section-heading {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin-bottom: 80px !important;
}

.section-heading span {
    color: #606060;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    letter-spacing: 2px;
}

.section-heading h3 {
    font-size: 34px;
    margin-bottom: 0;
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .section-heading h3 {
        font-size: 24px;
    }
}

.section-heading.text-left {
    text-align: left !important;
}

.section-heading.white span, .section-heading.white h3 {
    color: #ffffff;
}

a {
    color: unset;
}


a:hover {
    text-decoration: none;
    
}
a *:hover{
    text-decoration: none;
    
}
.article-search-input {
    border: none;
    border-bottom: 2px  solid silver;
    padding: 5px 5px;
    transition: all 0.7s;
    color: var(--main-color);

}
.article-search-input:focus{
    outline: none;
    border-bottom: 2px solid var(--main-accent-color);
    padding: 7px 10px;
    color: var(--main-color);
}
.glow:hover{
    background: var(--main-accent-color);
}


/* Flex */
@media only screen and (min-width: 992px){
    
    .justify-content-lg-unset{
        justify-content: unset!important;
    }
    .align-items-lg-unset{
        align-items: unset !important;
    }
}
@media only screen and (min-width: 1200px){
    .container.container-custom-xl{
        max-width: 1100px;
    }
}